{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<body onload="getBase()">
<div class="container-fluid">
  <div align="right">
  <a href="/admin/login/?next=/admin/">¿Eres super Usuario?</a>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2>Iniciar Sesión</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Ingresar" button_type="submit" button_class="btn-primary" %}
        <a href="/inicio/signup">o regístrate</a>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>


</div>
</body>
{% endblock %}
