<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<head>
  <meta charset="utf-8">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    //Pusher.logToConsole = true;
  //actualiza la vista para las asesorías simples
    var pusher = new Pusher('2294181343cebed3aeea', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if (usuario == data.profesor__nombre_profesor ) {
        location.reload();
      }

      }
    );

    //actualiza la vista para las asesorías múltiples
      var pusher = new Pusher('a52822b55fd67e542bd1', {
        cluster: 'us2',
        forceTLS: true
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        var usuario = sessionStorage.getItem("usu");
        if (usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor ) {
          location.reload();
        }

        }
      );

  </script>
</head>
<body>
<div class="container-fluid mt-3">
    {% bootstrap_messages %}
    {% block content %}
        Sin contenido.
    {% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src = "{% static 'bootstrap/js/elemento.js' %}"> </script>
</body>
</html>
