<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<head>
  <meta charset="utf-8">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    //Pusher.logToConsole = true;
    //retrocede de la pagina de detalles a la pagina de asesoria simple del profesor
    var pusher = new Pusher('7a7e9159031b98a76d93', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if (usuario == data.profesor__nombre_profesor ) {
        var url = sessionStorage.getItem("busq1");
        var url = url + "ver/"+data.profesor__nombre_profesor;
        window.location.replace(url);
      }

      }
    );

    //retrocede de la pagina de detalles a la pagina de asesoria múltiple del profesor
    var pusher = new Pusher('bfd2a41b86394aa0eaa4', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if (usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor ) {
        var url = sessionStorage.getItem("busq1");
        var url = url + "verMul/"+usuario;
        window.location.replace(url);
      }

      }
    );

    //retrocede de la pagina de detalles a la pagina de asesoria múltiple del profesor cuando otro porfesor acepta
    var pusher = new Pusher('ff9c9365a383f65c66a0', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if ((usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor) && data.estado=="pendiente a aceptar" && usuario != data.estado2) {
        var url = sessionStorage.getItem("busq1");
        var url = url + "verMul/"+usuario;
        window.location.replace(url);
      }else if ((usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor) && data.estado=="aceptada" && usuario == data.estado2) {

        $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
          var url = sessionStorage.getItem("busq1");
          var url = url + "verMul/"+usuario;
          window.location.replace(url);
        }, 2000);
        });

      }

      }
    );

    //retrocede de la pagina de detalles a la pagina de asesoria múltiple del profesor cuando un profesor no acepta
    var pusher = new Pusher('c5c645f25c3aa7ee58de', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if (usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor ) {
        $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
          var url = sessionStorage.getItem("busq1");
          var url = url + "verMul/"+usuario;
          window.location.replace(url);
        }, 2000);
        });
      }

      }
    );

    //retrocede de la pagina de detalles a la pagina de asesoria múltiple del profesor cuando otro porfesor marca
    var pusher = new Pusher('8727adc639d7ffc412bc', {
      cluster: 'us2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      var usuario = sessionStorage.getItem("usu");
      if ((usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor) && data.estado=="aceptada" && usuario != data.estado3) {
        var url = sessionStorage.getItem("busq1");
        var url = url + "verMul/"+usuario;
        window.location.replace(url);
      }else if ((usuario == data.profesor_uno__nombre_profesor || usuario == data.profesor_dos__nombre_profesor) && usuario == data.estado3) {

        $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
          var url = sessionStorage.getItem("busq1");
          var url = url + "verMul/"+usuario;
          window.location.replace(url);
        }, 2000);
        });

      }

      }
    );


  </script>
</head>
<body>
<div class="container-fluid mt-3">
    {% bootstrap_messages %}
    {% block content %}
        Sin contenido.
    {% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src = "{% static 'bootstrap/js/elemento.js' %}"> </script>
</body>
</html>
