{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  {% for asesoria in asesoria_sel %}
  <h1><center class="mt-5 mb-5">{{asesoria.profesor__nombre_profesor}}, esta reserva está {{asesoria.estado}}</center></h1>

<div class="container">

    <p>
      Alumno: {{asesoria.alumno__nombre_alumno}}
    </p>
    <p>
      Dia: {{asesoria.dia}}
    </p>
    <p>
      Lugar: {{asesoria.lugar}}
    </p>
    <p>
      Hora: {{asesoria.hora_inicio}} - {{asesoria.hora_fin}}
    </p>
    <p>
      Razón: {{asesoria.razon}}
    </p>



<button onclick="reservaNoAceptar({{asesoria}})" class="btn btn-secondary btn-lg">No Aceptar </button>
<button onclick="regresar('{{asesoria.profesor__nombre_profesor}}')" class="btn btn-secondary btn-lg"> Regresar </button>
<button onclick="inicio()" class="btn btn-secondary btn-lg"> Ir al inicio </button>
  {% endfor %}
</div>

  {% else %}
    <p>No haz iniciado sesión.</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  {% endif %}
{% endblock %}
