{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1><center class="mt-5 mb-5">Búsqueda de Asesoría por Filtros</center></h1>
    <div action="/" method="post" class="container">{% csrf_token %}
      <div class="form-inline ">
        <div class="form-group mb-5 padre">
          <div>
            <i class="fas fa-search mr-2" ></i>
            <input class="form-control" id="userProfesor"  placeholder="Nombre del Profesor">
          </div>
          <p onclick="validar()" class="btn btn-secondary btn-lg">Buscar</p>
        </div>

      </div>
      <div>
        <h4 class="mb-5">Filtrar por:</h4>
        <select id="sel" onchange="getElements()" class="custom-select my-1 mr-sm-2 mb-5" id="inlineFormCustomSelectPref">
          <option selected>Carrera</a></option>
          {% for carrera in lista_carreras %}
          <option id="{{carrera.nombre_carrera}}"> {{ carrera.nombre_carrera }}</option>
          {% endfor %}
        </select>
      </div>
      {% for carrera in lista_carreras %}

      {% endfor %}
      <div>
        <select class="custom-select my-1 mr-sm-2 mb-5" id="inlineFormCustomSelectPref">
          <option selected>Curso</option>
          {% for curso in lista_cursos %}
          <option value="{{curso.id}}">{{ curso.nombre_curso }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <button onclick="inicio()" class="btn btn-secondary btn-lg"> Ir al inicio </button>
      </br>
    </div>

  {% else %}
    <p>No haz iniciado sesión.</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  {% endif %}
{% endblock %}
