{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <body onload="restaurarBD()">
  <h1><center class="mt-5 mb-5">Profesores disponibles para Reservar</center></h1>
<div class="container" name="cita">
    <p>

      {% for nombre in noExiste %}
      <p id="no">{{nombre}} </p>
      {% endfor %}
    </p>
      {% for asesoriaMul in asesoriasM %}
      <h3>{{ asesoriaMul.dia }} : {{ asesoriaMul.hora_inicio }} - {{ asesoriaMul.hora_fin }}</h3>

      {% for asesoriaMulProf in profesor %}

    <li class="list-group-item" >
    <input id="{{user.first_name}}/{{asesoriaMul.dia}}/{{asesoriaMul.hora_inicio}}/{{asesoriaMul.hora_fin}}/{{asesoriaMul.lugar}}" class="messageCheckbox" type="checkbox"  name="profesor" value="{{asesoriaMulProf.profesor__nombre_profesor}}">
      Profesor: {{asesoriaMulProf.profesor__nombre_profesor}}
    </input>
    </li>

    <br>
    {% endfor %}
    {% endfor %}
    <br>
<p>
<button onclick="obtener_citaM()" class="btn btn-secondary btn-lg">Reservar cita </button>
{% for selDia in dia %}
<button onclick="regresarMul('{{selDia}}')" class="btn btn-secondary btn-lg"> Regresar </button>
{% endfor %}
<button onclick="inicio()" class="btn btn-secondary btn-lg"> Ir al inicio </button>
</p>
</div>
<span></span>
<script>
//limita a solo dos el checkbox
  $("input:checkbox").click(function() {
var bol = $("input:checkbox:checked").length >= 2;
$("input:checkbox").not(":checked").attr("disabled",bol);
});

</script>
  {% else %}
    <p>No haz iniciado sesión.</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  {% endif %}
</body>
{% endblock %}
