{% extends 'a3.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <h1><center class="mt-5 mb-5">Citas a Gestionar</center></h1>

<div class="container" name="cita">
    {% for imprimir in noAse %}
    <p>{{imprimir}}</p>
    {% endfor %}

    {% for asesoria in lista_asesorias %}
    {% if asesoria != "" %}
    <br>
    <li class="list-group-item" id="asesoria">
    <span>
    <p>Día: {{ asesoria.dia}}</p>
    Alumno: {{ asesoria.alumno__nombre_alumno}}
    <button onclick="mostrarAsesoriaProf({{asesoria}})" class="btn btn-secondary btn-lg">Gestionar</button>
    Estado: {{ asesoria.estado}}
    </span>
    </li>

    {% endif %}
    {% endfor %}
    <br>
    <button onclick="inicio()" class="btn btn-secondary btn-lg"> Ir al inicio </button>
    </br>
</div>

  {% else %}
    <p>No haz iniciado sesión.</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  {% endif %}
{% endblock %}
